<style type="text/css">
  .a4 {

  }

  h1 {
    margin: 0.5cm 0;
    text-align:center;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .qr img {
    display: block;
    height: 15cm;
    width: 15cm;
    margin: 0 auto;
  }

  .tip-img img {
    display: block;
    width: 16cm;
    margin: 1cm auto 0;
  }

  .description {
    text-align:center;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1cm;
    font-size: 1.5em;
  }

</style>

<div class="fastprint a4">
  <h1><%= @print.title %></h1>

  <div class="qr">
    <%= image_tag @code.qr_png_url %>
  </div>

  <div class="tip-img">
    <%= image_tag "print_bg_phone.png" %>
  </div>

  <div class="description">
    <%= @print.description %>
  </div>
</div>

<script>
  window.print();
</script>
