<h1>New Print</h1>

<div class="row">

	<div class="col-md-4">
		<%= render "form", p: @print %>
	</div>

	<div class="col-md-8">
		<div class="offset-md-2 print-show">
			<div class="offset-md-2 content">
				<!-- <div style="margin:0;padding:0;align:center;text-align:center;"> -->
					<h2 class="title">标题</h2>
					<div class="qr offset-md-2">
			      <%= render 'codes/qr_html', code: @code %>
					</div>
		      <div class="tip-img">
						<%= image_tag "print_bg_phone.png" %>
					</div>
					<div class="description">这里是描述<div>
				<!-- </div> -->
			</div>
		</div>
	</div>

</div>
