<ul>
  <% comments.each do |comment| %>
    <li>
      <%= image_tag (comment.publication.user.profile.avatar.tiny.url.to_s) %>
      <%= comment.publication.user.profile.name %>:
      <%= comment.publication.content_html %>
    </li>
  <% end %>
</ul>
