<ul>
  <% comments.each do |comment| %>
    <li>
      <%= image_tag (comment.user.avatar.tiny.url.to_s) %>
      <%= comment.user.name %>:
      <%= comment.content_html %>
    </li>
  <% end %>
</ul>
