<%= form_tag status_comments_path(status) do %>
  <span class="form-inputs">
    <%= text_field_tag("comment[content]", "") %>
  </span>

  <span class="form-actions">
    <%= submit_tag("回应") %>
  </span>
<% end %>
