<% image_array = publication.publishable.image_array %>

<div class="image-array">
  <% image_array.each_with_index do |image, index| %>
    <%= link_to image_tag(image.normal.url.to_s), preview_publication_path(publication, index) %>
  <% end %>
</div>
