<div class="form-group">
  <%= text_area_tag("reply[content]", "", rows: "1", class: "form-control form-control-sm") %>
</div>
<%= file_field_tag "reply[attachment]", type: :file, class: "form-control-file" %>
