<div class="form-group">
  <%= text_area_tag("reply[content]", "", rows: "1", class: "form-control form-control-sm") %>
</div>

<%= file_field_tag "reply[image_array][]", type: :file, class: "", multiple: true, class: "from-control-file" %>
