<%# TODO: 点击整个跳转到响应的东西那里 %>
<%= link_to notification.status, "data-turbolinks" => "false" do %>
  <div class="media-heading">
    <%= notification.title %>
  </div>
  <div class="media-content">

  </div>
<% end %>
