<div class="notifications row">
  <div class="heading clearfix">
    所有通知

    <span class="pull-xs-right">
      <%= button_to "清空", clean_notifications_path, class: 'btn btn-sm btn-secondary', method: 'clean' %>
    </span>
  </div>
  <div class="list">
    <% if @notifications.blank? %>
      <div class="no-records">没有通知</div>
    <% else %>
      <% @notification_groups.each do |group, notifications| %>
        <div class="notification-group">
          <div class="group-title"><%= group %></div>
          <%= render notifications %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
