<div class="notifications">
  <div class="heading clearfix">
    <h1>所有通知</h1>
    <span class="pull-right">
      <%= button_to "清空", clean_notifications_path, class: 'btn btn-sm btn-danger', method: 'clean' %>
    </span>
  </div>
  <div class="list">
    <% if @notifications.blank? %>
      <div class="no-records">没有通知</div>
    <% else %>
      <% @notification_groups.each do |group, notifications| %>
        <div class="notification-group">
          <div class="group-title"><%= fa_icon('clock-o') + " #{group}" %></div>
          <%= render notifications %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
