<li class="media mover">
  <%= avatar_tag user, :small %>
  <div class="media-body">
    <div class="media-heading">
      <%= link_to user.name, user_path(user) %>
    </div>
    <div class="media-content text-muted">
      <%= user.profile.try(:description) %>
    </div>
  </div>
</li>
