<li class="media mover">
  <%= link_to image_tag(user.avatar.small.url.to_s, class: "avatar small"), user_path(user), class: "media-left" %>
  <div class="media-body">
    <div class="media-heading">
      <%= link_to user.name, user_path(user) %>
    </div>
    <div class="media-content">
      <%= user.profile.try(:description) %>
    </div>
  </div>
</li>
