<div class="form-group rucaptcha">
  <label class="control-label required"><abbr title="required">*</abbr> 验证码</label>
  <%= rucaptcha_input_tag(placeholder: t('rucaptcha.input'), size: 20, type: "text", class: "form-control") %>
  <a class="rucaptcha-image-box" href="#"><%= rucaptcha_image_tag %></a>
</div>
