<ul class="unstyled user-list">
  <% users.each do |user| %>
  	<% if user %>
	    <li>
	       <%= link_to image_tag(user.avatar.tiny.url.to_s, class: "avatar tiny"), user, title: user.name, data: {toggle: 'tooltip'}, target: '_blank' %>
	    </li>
    <% end %>
  <% end %>
</ul>
