<%= render partial: "statuses/status", collection: @statuses %>

<%= will_paginate @statuses %>

<% content_for "secondary-content" do %>
  <div class="section">
    <h1>热门 DIY</h1>
    <%= render "projects/projects_list_small", projects: @projects %>
  </div>
<% end %>
