

<div class="sub-nav">
  <ul>
    <li class="active"><a href="#">文本</a></li>
    <li><a href="#">文本</a></li>
    <li><a href="#">文本</a></li>
    <li><a href="#">文本</a></li>
  </ul>
</div>

<h1>欢迎欢迎，热烈欢迎！</h1>


<br/>
<%= link_to "Codes", codes_path %>
