<%= render partial: "statuses/status", collection: @statuses, locals: { is_show_project_name: true } %>

<%= will_paginate @statuses %>

<% content_for "secondary-content" do %>
  <div class="section">
    <h2>DIY</h2>
    <%= render "projects/projects_list_small", projects: @projects %>
  </div>
<% end %>
