<% if projects %>
  <ul class="unstyled projects-list-small media-list">
    <% projects.each do |project| %>
      <% cache project do %>
        <li class="media mover">
          <div class="media-left mr-2">
            <%= avatar_tag(project, :small) %>
          </div>
          <div class="media-body">
            <div class="media-heading">
              <%= link_to project.name, project_path(project) %>
            </div>
            <div class="media-content text-muted">
              <%= project.desc %>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
