<h1>Editing Project</h1>

<%= render 'form', project: @project %>

<%= link_to 'Show', @project %> |
<%= link_to '删除', @project, method: :delete, data: { confirm: t("confirm.delete") } %> |
<%= link_to 'Back', projects_path %>
