<div class="projects-list">
  <ul class="media-list">
    <% @projects.each do |project| %>
      <li class="media">
        <div class="media-top">
          <%= link_to image_tag(project.avatar.url.to_s, class: "avatar big"), project %>
        </div>
        <div class="media-body">
          <div class="name">
            <%= project.name %>
          </div>
          <div class="desc">
            <%= project.desc %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
