
<div class="input-box clearfix" data-project-id="<%= @project.id  %>">
  <form>
    <textarea name="" id="" cols="30" rows="4" class="full-width"></textarea>
  </form>
  <ul class="unstyled pull-left actions">
      <li class="ui-state-disabled">想法</li>
      <li class="ui-state-disabled">图片</li>
      <li class="ui-state-disabled">文件</li>
      <li class="ui-state-disabled">投票</li>
      <li class="ui-state-disabled">计划</li>
      <li class="ui-state-disabled">任务</li>
      <li class="ui-state-disabled">文档</li>
  </ul>
  <div class="pull-right">
    <button class="btn submit">发布</button>
  </div>

</div>
