/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require tether
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import "colors";
 @import "font-awesome";
 @import "trix";

$navbar-height: 46px;

a {
  &:hover {
    color: $active-color !important;
    text-decoration: none;
  }
  &:link {
    color: #37a;
    text-decoration: none;
  }
  &:visited, &:active {
    text-decoration: none;
  }
}

li {
  list-style-type: none;
}

label {
  font-size: 14px;
  font-family: Tahoma;
  vertical-align: middle;
}

h1, .h1 {
  word-wrap: break-word;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #494949;
  margin: 0;
  padding: 0 0 15px 0;
  line-height: 1.1;
}

h2 {
  font: 15px Arial, Helvetica, sans-serif;
  color: #111;
  margin: 0 0 12px 0;
  line-height: 150%;
}

body {
  font: 12px Helvetica,Arial,sans-serif;
}

blockquote {
  @extend .blockquote;
}

.navbar {
  background: white;
  padding: 0;
  font-size: 1rem;

  .navbar-brand {
    color: $primary-color;
  }

  .nav-login {
    float: right;
    display: inline-block;
    color: #666;
    line-height: $navbar-height;
    height: $navbar-height;

    .notification-count {
      .fa {
        padding-top: 4px;
      }
      .count { margin-left: 4px; display: none; font-size: 12px;}
      .new {
        color: $active-color !important;
        .count { display: inline; line-height: 100%; }
      }
    }

    #login-join {
      .first {
        padding: 3px;
        border: 1px solid $active-color;
        color: $active-color;
        border-radius: 4px;
      }
    }

    a {
      line-height: 20px;
      color: #666666;
    }
  }
}

.nav-bottom-line {
  background-color: $active-color;
  height: 2px;
}

.sub-nav {
  background: #f0f0f0;
  height: 38px;
  ul {
    margin: 0;
    padding: 0 16px;
    li {
      width: 88px;
      display: inline-block;

      a {
        display: block;
        margin: 0 auto;
        color: #666666;
        height: 38px;
        line-height: 40px;
        font-size: 14px;
        text-align: center;
        font-weight: normal;
      }
    }
  }

  .active {
    position: relative;
    box-shadow: 0px -3px 7px #999;
    border-top: 2px solid $active-color;
    height: 44px;
    line-height: 44px;
    top: -5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #f8f8f8;
  }
}

#rails-flash {
}

#main-content {
  margin-top: 20px;

  #secondary-content {
    margin-left: 0px;
  }
}

 .footer {
   color: #7a7d7f;
   width: 100%;
   height: 58px;
   margin-top: 40px;
   background-color: #383737;
   text-align: left;

   .footer-content {
     padding-top: 20px;
     ul {
       margin: 0;
       padding: 0;
       display: block;
       li {
         margin-right: 2em;
         display: inline;
       }
     }

     .copy {
       float: right;
     }
   }
 }

.btn-outline-primary {
  color: $primary-color;
  background-image: none;
  background-color: transparent;
  border-color: $primary-color;

  &:hover {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
  }
}
