 $active-color: orange;
 $button-white-color: rgba(255,255,255,.87);

 .orange {
     background-color: $active-color;
     color: $button-white-color;
 }

 .btn-orange {
   background-color: $active-color;
   color: $button-white-color;
 }

 .green {
    background-color: #4caf50;
    color: $button-white-color;
}

.light {
    background-color: #f8f8f8;
}

.white {
    background-color: white;
}
