 $active-color: orange;

 .orange {
     background-color: $active-color;
     color: rgba(255,255,255,.87);
 }

 .green {
    background-color: #4caf50;
    color: rgba(255,255,255,.87);
}

.light {
    background-color: #f8f8f8;
}
