@import "colors";

* {
  box-sizing: border-box;
}

.avatar {
  img {
    border-radius: 0.25rem
  }
}

.row.no-gutter [class*=col-] {
  padding-left: 0;
  padding-right: 0;
}

.text-center {
  text-align: center;
}

.wapper {
  width: 100%;
  position: relative;
  padding: 1.5rem 0;
}

.text-md {
  font-size: 1.125rem;
}

.border-a {
    border: 1px solid rgba(120,130,140,.25);
}

.text-darkgrey {
    color: #666;
}

.text-grey {
    color: #999;
}
.text-sm {
    font-size: .8rem;
}

.actions {

}

.submit-actions {
  margin: 35px 0;
  input, a, button {
    margin-right: 16px;
  }
}

#new_project {
  trix-editor {
    min-height: 27rem;
  }
}

.trix-content {

}
