@import "colors";

* {
  box-sizing: border-box;
}


img {
  &.avatar {
    border-radius: 0.25rem;
    &.big { width: 180px; height: 180px;}
    &.normal { width: 48px; height: 48px;}
    &.small { width: 33px; height: 33px;}
    &.tiny { width: 24px; height: 24px;}
  }
}

.row.no-gutter [class*=col-] {
  padding-left: 0;
  padding-right: 0;
}

.text-center {
  text-align: center;
}

.wapper {
  width: 100%;
  position: relative;
  padding: 1.5rem 0;
}

.text-md {
  font-size: 1.125rem;
}

.border-a {
    border: 1px solid rgba(120,130,140,.25);
}

.text-darkgrey {
    color: #666;
}

.text-grey {
    color: #999;
}
.text-sm {
    font-size: .8rem;
}

.actions {

}

.submit-actions {
  margin: 35px 0;
  input, a, button {
    margin-right: 16px;
  }
}

#preview-modal {
  .modal-dialog {
    text-align:center;
    max-width: 80%;
  }
  .modal-content {
    display:inline-block;
    img {
      max-width: 95%;
    }
  }
}

.section {
  margin-bottom: 20px;
  padding-bottom: 20px;

  h2 {
    &::after {
      content: "\a0\a0\a0 · · · · · ·";
      font-weight: normal;
    }
  }
}

.form-inputs {
  margin-bottom: 16px;
}

// client side validates
.help-block {
  color: red;
}
