.print-show {

  .content {
    height:462px;
    width:330px;
    box-shadow: -10px 10px 5px #888888;
    // margin-left: 70px;
    background:#fff;
    border:1px solid #fff;

    .title {
      margin-top:20px;
      font-size:21px;
      padding: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      color:#333;
    }

    .qr {
      img {
        display: block;
        margin: 0 auto;
        max-height: 290px;
        max-width: 290px;
      }
    }

    .tip-img {
      height:17px;
      text-align:center;
      align:center;
      margin-top: 20px;
    }

    .description {
      text-align:center;
      max-width:180px;
      margin:0 auto;
      margin-top:22px;
      font-size:12px;
      color:#999;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}
