// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-box {
  margin-bottom: 30px;
  
  textarea {
    width: 100%;
  }

  .actions {
    padding: 0;
    li {
      list-style:none;
      float: left;
      padding-left: 10px;
    }
  }
}
