// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-reply {
  margin-bottom: 30px;

  #input-content {
    textarea {
      width: 100%;
    }
  }
}

#new_project {
  trix-editor {
    min-height: 27rem;
  }
}
