@import "colors";

.relation {
  display: inherit;

  &.link {
    display: inline;
    form {
      display: inline;
    }
    input, button {
      padding: 0;
      background: transparent;
      border: none;
      color: #7094b7;
      font-size: 12px;
    }
  }

  .fa {
    &:hover, &:focus {
      color: $primary-color;
    }
  }
}
