@import "colors";

.relation {
  display: inline;
  form {
    display: inline;
  }
  input, button {
    background: transparent;
    border: none;
    color: #7094b7;
    &:hover {
      color: $active-color;
      cursor: pointer;
    }
    &:focus {
      border: none;
    }
  }
  .add {

  }
  .remove {

  }
}
