$avatar-width: 48px;

.status-item {
  margin-bottom: 28px;

  .avatar {
    height: $avatar-width;
    width: $avatar-width;
    float: left;
  }

  .status-main {
    margin-left: $avatar-width + 10px;

    .status-item-head {

    }

    .status-item-body {
      margin-top: 0.6rem;
      padding-left: 2rem;
      overflow: hidden;
      zoom: 1;

      .content {
        margin-bottom: 20px;
      }

      .actions {
        padding-bottom: 24px;
        border-bottom: 1px solid #e5e5e5;
        .created_at {

        }

      }
    }
  }
}
