$avatar-width: 48px;

.status-item {
  margin-bottom: 28px;
  color: #555;

  .avatar {
    height: $avatar-width;
    width: $avatar-width;
    float: left;
  }

  .status-main {
    margin-left: $avatar-width + 10px;

    .status-item-head {
      font-size: 13px;
    }

    .status-item-body {
      margin-top: 0.6rem;
      padding-left: 2rem;
      overflow: hidden;
      zoom: 1;

      .content {
        margin-bottom: 16px;
        img {
          max-height: 160px;
          margin: 3px;
        }
        .title {
          margin-bottom: 4px;
          font-size: 14px;
          line-height: 1.38;
        }
      }

      .actions {
        color: #aaa;
        padding-left: 20px;
        padding-bottom: 24px;
        border-bottom: 1px solid #e5e5e5;

        a {
          color: #7094b7;
        }
        .created_at {

        }

        .comments {
          margin-top: 1rem;
          .form-inputs {
            textarea {
              width: 100%;
            }
          }
        }

      }
    }
  }
}
