<footer class="footer">
  <div class="container">
    <ul>
      <li><a href="mailto:admin@qrdiy.com">联系我们</a></li>
      <span class="pull-right">
        <li>京ICP备15001281号-4</li>
        <li>&copy; qrdiy.com 2016 - 2017</li>
      </span>
    </ul>
  </div>
</footer>
