<div class="container">
  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="/">QRDIY</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">产品</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">解决方案</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">案例</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">合作</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">帮助中心</a>
      </li>
    </ul>

    <div class="nav-login">
      <div id="myqr_out" style="display: none;">
        <a href="/">退出</a>
        <a href="/" class="first" data="manage">管理后台</a>
      </div>
      <div id="login_join" style="display: block;">
        <a href="/" data="join">注 册</a>
        <a href="/" class="first" data="login">登 录</a>
      </div>
    </div>
  </nav>
</div>
<div class="nav-bottom-line"></div>
